<%- include('../partials/header') %>
<h2>Flight Details</h2>

<table>
    <thead>
        <tr>
          <th>Airline</th>
          <th>Airport</th>
          <th>Flight Number</th>
          <th>Departs</th>
          <th>Status</th>
          <th>Destinations</th>
        </tr>
      </thead>
      <tbody>
          <% let currentDate = new Date(); %>
          <% let flightDate = new Date(flight.departs); %>
          <% let isFlightPassed = flightDate < currentDate; console.log(isFlightPassed) %>
          <tr class="<%= isFlightPassed ? 'flight-passed' : '' %>">
            <td><%= flight.airline %></td>
            <td><%= flight.airport %></td>
            <td><%= flight.flightNumber %></td>
            <td><%= flight.departs.toISOString().slice(0, 16).replace('T', ' ') %></td>
            <td><%= isFlightPassed ? 'Flight has passed' : 'On time' %> </td>
            <% let destinations = flight.destinations.sort((a, b) => a.arrival - b.arrival); %>
           <td> <% destinations.forEach((d, i) => { %> 
            <% if(i<1){ %>
                <strong>Airport:</strong> <em><%= d.airport %></em> <br> 
                <strong>Arrival Time:</strong> <em><%= d.arrival.toISOString().slice(0, 16).replace('T', ' ') %></em> <br>
            <% return;}%>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>      
                    <strong>Airport:</strong> <em><%= d.airport %></em> <br>
                    <strong>Arrival Time:</strong> <em><%= d.arrival.toISOString().slice(0, 16).replace('T', ' ') %></em> <br>
                </td>
            </tr>
         <% } )%></td>
          </tr>
      </tbody>
</table><br><br>
<%if(tickets.length){%>
<h2>Tickets</h2>

<table>
  <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach((t) => { console.log(t)%>
   <tr>
    <td><%= t.seat %></td>
    <td><%= t.price %></td>
   </tr>
  <%});%>
    </tbody>
</table><br><br>
<%}%>

<a class="ticket-submit-btn" href="/tickets/<%= flight._id %>/new">New Ticket</a>  

<br><br>
<h2>Edit Itinerary</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>">
  <label>Destinations:</label>
  <select name="airport">
    <% allCodes.forEach((code) => { %>
      <% let shouldDisable = false; %>
      <% if (flight.airport === code) { %>
        <% shouldDisable = true; %>
      <% } else { %>
        <% flight.destinations.forEach((destination) => { %>
          <% if (destination.airport === code) { %>
            <% shouldDisable = true; %>
          <% } %>
        <% }); %>
      <% } %>
      <% if (!shouldDisable) { %>
        <option value="<%= code %>"><%= code %></option>
      <% } %>
    <% }); %>
  </select>
  <label class="date-time-destination">Date/Time: <br>
    <input type="datetime-local" value="<%= new Date(); %>" name="arrival" />
  </label><br>
  <input class="submit-destination-btn" type="submit" value="Add Destination">
</form>



<%- include('../partials/footer') %>